<% content_for :body do %>


<%= simple_form_for @usuario, :html => { :class => 'form-horizontal' } do |f| %>


  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>

  <legend>Nuevo Usuario</legend>

  <%= f.input :nombre, :required => true ,:wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Nombre      ", :class => "add-on" %>
    <%= f.input_field :nombre %>
  <% end %>

  <%= f.input :ape_mate, :required => true ,:wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Apellido Paterno", :class => "add-on" %>
    <%= f.input_field :ape_mate %>
  <% end %>

  <%= f.input :ape_pate, :required => true ,:wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Apellido Materno", :class => "add-on" %>
    <%= f.input_field :ape_pate %>
  <% end %>

  <%= f.input :user, :required => true ,:wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Usuario", :class => "add-on" %>
    <%= f.input_field :user %>
  <% end %>

  <%= f.input :password, :required => true ,:wrapper => :prepend, :hint => false, :error_html => { :id => 'password_error'}, :label => false do %>
    <%= content_tag :span, "Password", :class => "add-on" %>
    <%= f.input_field :password %>
  <% end %>

  <%= f.input :email, :required => true , :wrapper => :prepend, :placeholder => 'user@domain.com' ,:label => false do %>
    <%= content_tag :span, "Email", :class => "add-on" %>
    <%= f.input_field :email %>
  <% end %>

  <%= f.input :telefono, :required => true ,:wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Telefono", :class => "add-on" %>
    <%= f.input_field :telefono %>
  <% end %>

  <%= f.input :celular, :required => true ,:wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Celular", :class => "add-on" %>
    <%= f.input_field :celular %>
  <% end %>

  <%= f.input :direccion, :required => true ,:wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Direccion", :class => "add-on" %>
    <%= f.input_field :direccion %>
  <% end %>

  <%= f.input :distrito, :required => true ,:wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Distrito", :class => "add-on" %>
    <%= f.input_field :distrito %>
  <% end %>

  <%= f.input :observaciones, :required => true ,:wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Observaciones", :class => "add-on" %>
    <%= f.input_field :observaciones %>
  <% end %>

  <%= f.input :fec_nacimiento, :as => :date, :required => true, :order => [:day, :month, :year], :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Fecha de Nac.", :class => "add-on" %>
    <%= f.input_field :fec_nacimiento , :as => :date , :order => [:day, :month, :year], :class => "field-date" %>
  <% end %>

    

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
  </div>

<% end %>


<% end %>
