<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Ape mate:</b>
  <%= @usuario.ape_mate %>
</p>

<p>
  <b>Ape pate:</b>
  <%= @usuario.ape_pate %>
</p>

<p>
  <b>User:</b>
  <%= @usuario.user %>
</p>

<p>
  <b>Password:</b>
  <%= @usuario.password %>
</p>

<p>
  <b>Direccion:</b>
  <%= @usuario.direccion %>
</p>

<p>
  <b>Distrito:</b>
  <%= @usuario.distrito %>
</p>

<p>
  <b>Telefono:</b>
  <%= @usuario.telefono %>
</p>

<p>
  <b>Celular:</b>
  <%= @usuario.celular %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @usuario.observaciones %>
</p>

<p>
  <b>Fec nacimiento:</b>
  <%= @usuario.fec_nacimiento %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
